/* ==========================================================================
   8. Site Footer
   ========================================================================== */

.site-footer {
  padding: 1.5em 0 0.5em;
  text-align: center;
}

.offsite-links {
  margin-bottom: 0;
  a {
    color: _palette(primary);
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
    text-decoration: none;
    &:hover{
      color: _palette(accent);
    }
  }
}

.site-info {
  font-size: 14px;
}
